When I was 5 years old, my mother always told me that happiness was the key to life. When I went to school, they asked me what I wanted to be when I grew up. I wrote down 'happy'. They told me I didn't understand the assignment, and I told them they didn't understand life.Lets see what we can find from this dataset.If you like my work please do vote.

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

['2017.csv', '2016.csv', '2015.csv']

**Importing Python modules**

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd 
import warnings 
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
warnings.filterwarnings('ignore')
plt.style.use('fivethirtyeight')

In [3]:
data=pd.read_csv('../input/2017.csv')
data.head()

       Country        ...          Dystopia.Residual
0       Norway        ...                   2.277027
1      Denmark        ...                   2.313707
2      Iceland        ...                   2.322715
3  Switzerland        ...                   2.276716
4      Finland        ...                   2.430182

[5 rows x 12 columns]